{{ template "header" . }}
<div class="border border-stone-300 justify-center md:text-xl text-md mx-auto text-center mt-10 rounded p-2 shadow-md w-3/4">
  <a class="text-blue-500 hover:text-blue-700 hover:underline font-semibold" href="{{ .LinkUrl}}">{{ .PrimaryDomain }}</a>
</div>
{{ template "footer" . }}
